<app-header></app-header>
<ion-content overflow-scroll="true">
  <img *ngIf="post.media_path?.length" class="post-thumb" src="{{post.media_path}}">
  <img *ngIf="post.img?.length" class="post-thumb" src="{{post.img}}">
  <ion-card-header>
    <ion-icon [className]="post.reactions?.length ? 'icon liked' : 'icon'"
      [name]="post.reactions?.length ? 'heart' : 'heart-outline'" (click)="like(post, $event)"></ion-icon>
    <ion-icon class="icon" name="share-social-outline" (click)="shareApp(post)"></ion-icon>
    <!-- <ion-icon class="icon" name="heart-outline"></ion-icon>
    <ion-icon class="icon" name="share-social-outline"></ion-icon> -->
    <ion-card-subtitle>{{post.created_at.split(' ')[0]}}</ion-card-subtitle>
    <ion-card-title>{{post.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content [innerHTML]="post.description"></ion-card-content>

  <div class="cta" *ngIf="(post.button_name?.length)">
    <button (click)="externalPost(post.button_link)">{{post.button_name}}</button>

    <!-- <button *ngIf="post.button_link?.length"
      (click)="post.button_link?.length && interalRedirection(post.button_link)">{{post.cta}}</button> -->
  </div>

</ion-content>