<img class="logo" src="../../../assets/icon/eci-white.svg" />
<div class="section-container">
  <div class="welcome">
    Ingresa tu Nueva Contraseña
  </div>
  <!-- <pre>
    {{ formPassword.value | json }}
  </pre> -->
  <div class="error" [hidden]="!error?.length">{{error}}</div>
  <form class="mail-form" [formGroup]="form" (submit)="changePassword()">
    <ion-input type="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña"></ion-input>
    <ion-input type="password" id="password_check" formControlName="password_check" class="form-control" placeholder="Confirma tu contraseña"></ion-input>
    <button class="send">Acceder</button>
  </form>
</div>
<ion-footer class="ion-no-border">
  <span>2022 Created by</span>
  <img class="tvc-logo" src="../../../assets/icon/tvc-white.svg" />
</ion-footer>