<div class="content">
  <ion-select value="Campañas" multiple="false" placeholder="Incentivos Abril" class="selector">
    <ion-select-option value="incentivos-abril">
      Incentivos Abril
    </ion-select-option>
  </ion-select>

  <div class="boxes">
    <div class="box" *ngFor="let box of data" (click)="clickBox(box)">
      <img src="../../../assets/images/{{box.img}}">
      <div class="float-content">
        <div class="title">{{box.parentTitle}}</div>
      </div>
    </div>
  </div>
</div>

<div class="statistics">
  <div class="title">Lo que he conseguido</div>
  <div class="scrolling-wrapper">
    <div class="container" *ngFor="let kpi of statistics">
      <div class="information">
        <div class="parameter">{{kpi.parameter}}</div>
        <div class="title">{{kpi.title}}</div>
      </div>
      <canvas baseChart [data]="kpi.doughnutChartData" [labels]="kpi.doughnutChartLabels"
        [options]="kpi.doughnutChartOptions" [legend]="kpi.doughnutChartLegend" [chartType]="kpi.doughnutChartType"
        [colors]="kpi.colors">
      </canvas>
    </div>
  </div>
</div>