<div class="content" [hidden]="!pageStatus">
  <ion-select multiple="false" class="selector" (ionChange)="handleChange($event)" placeholder="Seleccionar campaña">
    <ion-select-option *ngFor="let campaign of campaignsData; let i = index" [value]="i">
      {{campaign.campaign_title}}
    </ion-select-option>
  </ion-select>

  <div class="boxes" [hidden]="!currentCampaign">
    <div class="box" *ngFor="let box of data" (click)="clickBox(box)">
      <img src="../../../assets/images/{{box.img}}">
      <div class="float-content">
        <div class="title">{{box.parentTitle}}</div>
      </div>
    </div>
  </div>

  <div class="select-a-campaign" [hidden]="currentCampaign">
    Seleccione una campaña
  </div>
</div>

<div class="statistics" [hidden]="!currentCampaign">
  <div class="title">Lo que he conseguido</div>
  <div class="scrolling-wrapper">
    <div class="container" *ngFor="let kpi of statistics">
      <div class="information">
        <div class="parameter">{{kpi.parameter}}</div>
        <div class="title">{{kpi.title}}</div>
      </div>
      <canvas baseChart [data]="kpi.doughnutChartData" [labels]="kpi.doughnutChartLabels"
        [options]="kpi.doughnutChartOptions" [legend]="kpi.doughnutChartLegend" [chartType]="kpi.doughnutChartType"
        [colors]="kpi.colors">
      </canvas>
    </div>
  </div>
</div>

<div class="content" [hidden]="pageStatus">
  {{statusMessage}}
</div>