<ion-app>

  <ion-router-outlet id="general"></ion-router-outlet>

  <!-- <ion-tabs id="menu-footer">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explora">
        <ion-icon name="globe"></ion-icon>
        <ion-label>Explora</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Alertas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Buzón</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  <app-tabs></app-tabs>
</ion-app>