<ion-header class="ion-no-border">
  <div class="header">
    <img class="logo" src="../../../assets/icon/eci-white.svg" />
    <ion-icon class="open-menu" name="person-circle-outline" (click)="toggleMenu()"></ion-icon>
  </div>
</ion-header>

<app-menu></app-menu>

<ion-content scrollEvents="true" overflow-scroll="true">
  <div class="hideable">
    <div class="greetings">
      <div class="hello">Hola,</div>
      <div class="user">Beltrán Álvarez</div>
    </div>
    <div class="to-do">¿Qué quieres hacer hoy?</div>
    <button (click)="toExplore()">Explora</button>
  </div>
  <div class="story-list">
    <div class="scroll-horizontal">
      <div class="scroll-item">
        <ion-avatar class="avatar-md">
          <img src="https://placeimg.com/640/480/any">
        </ion-avatar>
      </div>
      <div class="scroll-item" *ngFor="let img of images; let position = index">
        <ion-avatar (click)="openModal(images, position)" class="avatar-md has-update has-status">
          <img src="{{img}}">
        </ion-avatar>
      </div>
    </div>
  </div>
  <app-section></app-section>
  <ion-footer class="ion-no-border">
    <span>2022 Created by</span>
    <img class="tvc-logo" src="../../../assets/icon/tvc-white.svg" />
  </ion-footer>
</ion-content>