.story-content {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .navigation-direction {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;

    .right, .left {
      width: 100%;
    }
  }
}