<ion-tabs id="menu-footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explora">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Explora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Accesos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>