<ion-header id="header" class="ion-no-border nnn">
  <img class="logo" src="../../../assets/icon/eci-white.svg" />
  <app-open></app-open>
</ion-header>

<ion-content scrollEvents="true" overflow-scroll="true">
  <div class="container">
    <div class="group">
      <div class="title">No hay notificaciones</div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="group">
      <div class="title">Abril</div>
      <div class="notification unread">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification unread">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="title">Marzo</div>
      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="title">Febrero</div>
      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>

      <div class="notification">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <div class="information">
          <div class="title">¡Nueva campaña!</div>
          <div class="description">Lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>
  </div> -->
</ion-content>