/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-alert {
  .alert-wrapper {
    width: 90% !important;
    max-width: 90% !important;

    .alert-message {
      max-height: unset !important;
      height: auto;
      padding-bottom: 0;
    }

    .alert-button-group {
      padding: 0;
      
      button {
        color: black;
      }
    }
  }
}

.unauth-title {
  color: black;
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 2vw;
}

.unauth-alert {
  border-radius: 2vw;
  width: 100%;
}

ion-card-content {
  p {
    margin: 0 0 4vw 0!important;
  }
}